# Ignore version control
.git/
.github/
.gitignore
.gitattributes


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc


# Virtual environments
env/
venv/
.venv/
.env

# OS-specific
.DS_Store
Thumbs.db


# Editor-specific
.vscode/
.idea/
.cursor/
.deepeval/
.pytest_cache/
.specstory/
docs/
tests/
.cursorindexingignore
run*.*


# Ignore Docker-related files if not needed inside

Dockerfile
.dockerignore


# Ignore test and debug logs
logs/
*.log
